<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hypixel Notion Sync</title>
    <style>
        button {
            margin: 5px;
            padding: 10px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Hypixel Notion Sync</h1>
    <button id="hypixelAPIButton">Fetch Hypixel API Data and Update Notion</button>
    <button id="updateNotionPageIDAPIButton">Update .env file with Notion Page IDs</button>

    <script type="module" src="./js/handleAPI.js"></script>
</body>
</html>
